/* CSS Document */

* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background-color: #535353;
	color: #FFFFFF;
	font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

h1 {
	text-align: center;
	font-size: 2.9em; 
}

h2 {
	
}

#hero {
	width: 90%;
	display: block;
	margin: 0 auto;
}

blockquote {
	font-size: 2em;
	text-align: center;
}

nav {
	display: block;
	font-size: 1.3em;
	color: #8DC3E0;
	background-color: #9A0000;
	margin-bottom: 5%;
}

nav ul {
	list-style: none;
	text-align: center;
}

nav li {
	display: inline-block;
	padding: 2%;
	text-align: center;
}

nav li a {
	text-decoration: none;
	color: #8DC3E0;
}

#SPIDERMAN {
	background-color: #761012;
	color: #8E92CD;
	margin: 3% 0;
	border: solid #fff 1px;
	border-collapse: collapse;
	text-align: center;
}

#container {
	text-align: center;
	padding: 0;
}

#container table {
	width: 80%;
	margin: 0 auto;
	border: solid #fff 1px;
	border-collapse: collapse;
	padding: 0;
}

#container td {
	padding: 10px 0;
	text-align: center;
	border: solid #fff 1px;
	border-collapse: collapse;
}

#container label {
	padding: 25px 0;
	font-size: 1.5em;
	text-align: center;
}

#container input {
	height: 1.6em;
	width: 9.8em;
	border-radius: 25px;
	border-left: 20px;
	border-right: 20px;
	font-size: 1.4em;
	font-weight: bold;
	background-color: #2A2A2A;
	color: #fff;
	border: 5px double #fff;
	text-align: center;
	padding: 0;
}

#container .frmButton {
	padding: 0;
	margin: 0;
	width: 10em;
	background-color: #D0D0D0;
}

#container .frmButton:hover {
	background-color: #fff;
	color: #D0D0D0;
}

footer {
	text-align: center;
	margin-top: 5%;
}

a:hover {
	
}